# ==================== TELEGRAM ====================
API_ID=your_api_id
API_HASH=your_api_hash
BOT_TOKEN=your_bot_token

# ==================== MONGODB ====================
MONGO_URI=mongodb+srv://your_username:your_password@cluster0.xxxxx.mongodb.net/vc_music_bot?retryWrites=true&w=majority

# ==================== OPTIONAL ====================
OWNER_ID=your_telegram_id
REDIS_URL=
